Back NodeJs/node_modules
Front Js/node_modules
Back C#/Conversor/.vs/Conversor
Back C#/Conversor/Conversor/bin/Debug/netcoreapp3.1
Back C#/Conversor/ConversorTest/bin
Back C#/Conversor/ConversorTest/obj
Back C#/Conversor/Conversor/obj